.section {
	padding-top: 76px;

	&__container {
		flex-direction: column;
	}

	&__separator {
		border-radius: 3px;
	}

	.title {
		@include screen-x(900px) {
			font-size: 1.2em;
		}
		@include screen-x(700px) {
			font-size: 1.3em;
		}
		@include screen-x(599px) {
			font-size: 0.6em;
		}
	}

	.subtitle {
		@include screen-x(900px) {
			font-size: 1.5em;
		}
		@include screen-x(700px) {
			font-size: 2.7em;
		}
		@include screen-x(500px) {
			font-size: 0.9em;
		}
		@include screen-x(400px) {
			font-size: 0.7em;
		}
	}
	.text {
		@include screen-x(900px) {
			font-size: 16pt;
		}
	}
}
